@model IEnumerable<bookbookiev11.Models.BookModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_storeLayout.cshtml";
}


<div class="container-fluid text-center" style="margin-bottom: 30px;padding: 25px;">
    <img src="~/images/BookBookielogo.png" />
    <h1 class="display-1"> Welcome To Your Last Book Store.</h1>
</div>

<div class="container-fluid bg-dark text-center text-white" style="padding: 25px;">
    <h1 class="display-1">Store</h1>
</div>

<div class="container" style="margin-top: 30px; margin-bottom: 30px; ">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        @foreach (var item in Model)
        {
            <div class="col-md-4" style="margin-bottom: 20px;">
                <div class="card h-100">
                    <img src=@("~/images/"+ item.ImageName) asp-append-version="true" class="card-img-top" />
                    <div class="card-body">
                        <div class="text-center">
                            <h5 class="card-title">Title: @Html.DisplayFor(modelItem => item.title)</h5>
                            <p class="card-text">Author: @Html.DisplayFor(modelItem => item.author)</p>
                            <p class="price">Price: $@Html.DisplayFor(modelItem => item.price)</p>

                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">See More</a>
                            <a asp-controller="Checkout" asp-action="AddToShoppingCart" asp-route-id="@item.Id" class="btn btn-success">Add To Cart</a>
                        </div>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">Last updated 3 mins ago</small>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

